
$red: red;
$black: black;

*{
	box-sizing: border-box;
}

body{
	overflow-y: hidden;
}

#info{
	position: fixed;
	font-size: 25px;
	color: white;
	z-index: 1000;
}


.square{
	opacity: 0.5;
}

.square:hover{
	background: green;
}

.red{
	background-color: $red;
}

.black{
	background-color: $black;
}

.tarnsparent{
	background-color: none;
}
