
$red: red;
$black: black;

// *{
// 	box-sizing: border-box;
// }

body{
	overflow-y: hidden;
	padding: 0;
	margin: 0;
	font-family: ubuntu;
}

#info{
	position: fixed;
	font-size: 25px;
	color: white;
	z-index: 1000;
}


.square{
	opacity: 0.6;
}

.red{
	background-color: $red;
}

.black{
	background-color: $black;
}

.tarnsparent{
	background-color: none;
}

table{
	border-collapse: collapse;
	color:white;
	text-align: center;
}

td {
	&.band,
	&.media,
	&.contact,
	&.news {
		transition: transform 0.4s;
	}
}

td {
	&.band:hover,
	&.media:hover,
	&.contact:hover,
	&.news:hover {
		transform: scale(1.1);
	}
}




td{
	font-size: 20px;
}



td:hover{
	background: green;
}
